.hero {
  color: brown;
  font-family: sans-serif;
  margin-bottom: 30px;
}
.section2 {
  color: coral;
  font-family: sans-serif;
}
img {
  width: 500px;
  height: 400px;
}
body {
  background-color: beige;
}
